<h1>Listing バイタル</h1>

<table border="1">
  <tr>
    <th>ID</th>
    <th>心拍数10:00</th>
    <th>心拍数19:00</th>
    <th>心拍数06:00</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @observations.each do |observation| %>
  <tr>
    <td><%= observation.id %></td>
    <td><%= observation.m_bp %></td>
    <td><%= observation.l_bp %></td>
    <td><%= observation.d_bp %></td>
    <!-- added next line -->
    <td><%= link_to 'Show', observation %></td>
    <td><%= link_to 'Edit', edit_observation_path(observation) %></td>
<!--     <td><%= link_to 'Destroy', observation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
 -->
  </tr>
<% end %>
</table>

<br/>

<%= link_to 'New observation', new_observation_path %>|
<%= link_to 'Userhome', users_path %>