<div class="row">
  <div class="col-md-6 col-md-offset-3">

<%= form_for(ninstruction) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>

<div class="field">
  <span class="job_type_engine">実施の有無</span><br>
  <div class="radio-inline">
    <%= f.radio_button :no01, :無０１, checked: "checked" %><%= f.label :無, class: "no01_label" %>
  </div>
  <div class="radio-inline">
    <%= f.radio_button :no01, :有０１ %><%= f.label :有, class: "no01_label" %>
  </div>
  <div class="radio-inline">
    <%= f.radio_button :no01, :未実施０１ %><%= f.label :未実施, class: "no01_label" %>
  </div>
</div>
  <div class="ntt01_field">
    <%= f.label :ntt01, '予定年月日' %>
    <%= f.datetime_select(:ntt01,
    start_year: 2018,
    end_year:   (Time.now.year - 19),
    default:    Date.new(2018, 1,15)) %>
  </div>
  <div class="ntt02_field">
    <%= f.label :ntt02, '実施年月日' %>
    <%= f.datetime_select(:ntt02,
    start_year: 2018,
    end_year:   (Time.now.year - 19),
    default:    Date.new(2018, 1,15)) %>
  </div>

<div class="form-group">
  <%= f.label :ni01, '看護指示名01' %><%= f.text_area :ni01, class: 'form-control', rows: 1 %>
</div>
<div class="form-group">
  <%= f.label :ni02, '看護指示内容02' %><%= f.text_area :ni02, class: 'form-control', rows: 3 %>
</div>

<div class="field">
  <span class="job_type_engine">実施の有無</span><br>
  <div class="radio-inline">
    <%= f.radio_button :no03, :無０３, checked: "checked" %><%= f.label :無, class: "no03_label" %>
  </div>
  <div class="radio-inline">
    <%= f.radio_button :no03, :有０３ %><%= f.label :有, class: "no03_label" %>
  </div>
  <div class="radio-inline">
    <%= f.radio_button :no03, :未実施０３ %><%= f.label :未実施, class: "no03_label" %>
  </div>
</div>
  <div class="ntt03_field">
    <%= f.label :ntt03, '予定年月日' %>
    <%= f.datetime_select(:ntt03,
    start_year: 2018,
    end_year:   (Time.now.year - 19),
    default:    Date.new(2018, 1,15)) %>
  </div>
  <div class="ntt04_field">
    <%= f.label :ntt04, '実施年月日' %>
    <%= f.datetime_select(:ntt04,
    start_year: 2018,
    end_year:   (Time.now.year - 19),
    default:    Date.new(2018, 1,15)) %>
  </div>

<div class="form-group">
  <%= f.label :ni03, '看護指示名03' %><%= f.text_area :ni03, class: 'form-control', rows: 1 %>
</div>
<div class="form-group">
  <%= f.label :ni04, '看護指示内容04' %><%= f.text_area :ni04, class: 'form-control', rows: 3 %>
</div>

<div class="field">
  <span class="job_type_engine">実施の有無</span><br>
  <div class="radio-inline">
    <%= f.radio_button :no05, :無０５, checked: "checked" %><%= f.label :無, class: "no05_label" %>
  </div>
  <div class="radio-inline">
    <%= f.radio_button :no05, :有０５ %><%= f.label :有, class: "no05_label" %>
  </div>
  <div class="radio-inline">
    <%= f.radio_button :no05, :未実施０５ %><%= f.label :未実施, class: "no05_label" %>
  </div>
</div>
  <div class="ntt05_field">
    <%= f.label :ntt05, '予定年月日' %>
    <%= f.datetime_select(:ntt05,
    start_year: 2018,
    end_year:   (Time.now.year - 19),
    default:    Date.new(2018, 1,15)) %>
  </div>
  <div class="ntt06_field">
    <%= f.label :ntt06, '実施年月日' %>
    <%= f.datetime_select(:ntt06,
    start_year: 2018,
    end_year:   (Time.now.year - 19),
    default:    Date.new(2018, 1,15)) %>
  </div>
<div class="form-group">
  <%= f.label :ni05, '看護指示名05' %><%= f.text_area :ni05, class: 'form-control', rows: 1 %>
</div>
<div class="form-group">
  <%= f.label :ni06, '看護指示内容06' %><%= f.text_area :ni06, class: 'form-control', rows: 3 %>
</div>

<div class="field">
  <span class="job_type_engine">実施の有無</span><br>
  <div class="radio-inline">
    <%= f.radio_button :no07, :無０７, checked: "checked" %><%= f.label :無, class: "no07_label" %>
  </div>
  <div class="radio-inline">
    <%= f.radio_button :no07, :有０７ %><%= f.label :有, class: "no07_label" %>
  </div>
  <div class="radio-inline">
    <%= f.radio_button :no07, :未実施０７ %><%= f.label :未実施, class: "no07_label" %>
  </div>
</div>
  <div class="ntt07_field">
    <%= f.label :ntt07, '予定年月日' %>
    <%= f.datetime_select(:ntt07,
    start_year: 2018,
    end_year:   (Time.now.year - 19),
    default:    Date.new(2018, 1,15)) %>
  </div>
  <div class="ntt08_field">
    <%= f.label :ntt08, '実施年月日' %>
    <%= f.datetime_select(:ntt08,
    start_year: 2018,
    end_year:   (Time.now.year - 19),
    default:    Date.new(2018, 1,15)) %>
  </div>
<div class="form-group">
  <%= f.label :ni07, '看護指示名07' %><%= f.text_area :ni07, class: 'form-control', rows: 1 %>
</div>
<div class="form-group">
  <%= f.label :ni08, '看護指示内容08' %><%= f.text_area :ni08, class: 'form-control', rows: 3 %>
</div>

<div class="field">
  <span class="job_type_engine">実施の有無</span><br>
  <div class="radio-inline">
    <%= f.radio_button :no09, :無０９, checked: "checked" %><%= f.label :無, class: "no09_label" %>
  </div>
  <div class="radio-inline">
    <%= f.radio_button :no09, :有０９ %><%= f.label :有, class: "no09_label" %>
  </div>
  <div class="radio-inline">
    <%= f.radio_button :no09, :未実施０９ %><%= f.label :未実施, class: "no09_label" %>
  </div>
</div>
  <div class="ntt09_field">
    <%= f.label :ntt09, '予定年月日' %>
    <%= f.datetime_select(:ntt09,
    start_year: 2018,
    end_year:   (Time.now.year - 19),
    default:    Date.new(2018, 1,15)) %>
  </div>
  <div class="ntt10_field">
    <%= f.label :ntt10, '実施年月日' %>
    <%= f.datetime_select(:ntt10,
    start_year: 2018,
    end_year:   (Time.now.year - 19),
    default:    Date.new(2018, 1,15)) %>
  </div>
<div class="form-group">
  <%= f.label :ni09, '看護指示名09' %><%= f.text_area :ni09, class: 'form-control', rows: 1 %>
</div>
<div class="form-group">
  <%= f.label :ni10, '看護指示内容10' %><%= f.text_area :ni10, class: 'form-control', rows: 3 %>
</div>

<div class="field">
  <span class="job_type_engine">実施の有無</span><br>
  <div class="radio-inline">
    <%= f.radio_button :no11, :無１１, checked: "checked" %><%= f.label :無, class: "n11_label" %>
  </div>
  <div class="radio-inline">
    <%= f.radio_button :no11, :有１１ %><%= f.label :有, class: "no11_label" %>
  </div>
  <div class="radio-inline">
    <%= f.radio_button :no11, :未実施１１ %><%= f.label :未実施, class: "no11_label" %>
  </div>
</div>
  <div class="ntt11_field">
    <%= f.label :ntt11, '予定年月日' %>
    <%= f.datetime_select(:ntt11,
    start_year: 2018,
    end_year:   (Time.now.year - 19),
    default:    Date.new(2018, 1,15)) %>
  </div>
  <div class="ntt12_field">
    <%= f.label :ntt12, '実施年月日' %>
    <%= f.datetime_select(:ntt12,
    start_year: 2018,
    end_year:   (Time.now.year - 19),
    default:    Date.new(2018, 1,15)) %>
  </div>
<div class="form-group">
  <%= f.label :ni11, '看護指示名11' %><%= f.text_area :ni11, class: 'form-control', rows: 1 %>
</div>
<div class="form-group">
  <%= f.label :ni12, '看護指示内容12' %><%= f.text_area :ni12, class: 'form-control', rows: 3 %>
</div>

<div class="field">
  <span class="job_type_engine">実施の有無</span><br>
  <div class="radio-inline">
    <%= f.radio_button :no13, :無１３, checked: "checked" %><%= f.label :無, class: "no13_label" %>
  </div>
  <div class="radio-inline">
    <%= f.radio_button :no13, :有１３ %><%= f.label :有, class: "no13_label" %>
  </div>
  <div class="radio-inline">
    <%= f.radio_button :no13, :未実施１３ %><%= f.label :未実施, class: "no13_label" %>
  </div>
</div>
  <div class="ntt13_field">
    <%= f.label :ntt13, '予定年月日' %>
    <%= f.datetime_select(:ntt13,
    start_year: 2018,
    end_year:   (Time.now.year - 19),
    default:    Date.new(2018, 1,15)) %>
  </div>
  <div class="ntt14_field">
    <%= f.label :ntt14, '実施年月日' %>
    <%= f.datetime_select(:ntt14,
    start_year: 2018,
    end_year:   (Time.now.year - 19),
    default:    Date.new(2018, 1,15)) %>
  </div>

<div class="form-group">
  <%= f.label :ni13, '看護指示名13' %><%= f.text_area :ni13, class: 'form-control', rows: 1 %>
</div>
<div class="form-group">
  <%= f.label :ni14, '看護指示内容14' %><%= f.text_area :ni14, class: 'form-control', rows: 3 %>
</div>

<div class="field">
  <span class="job_type_engine">実施の有無</span><br>
  <div class="radio-inline">
    <%= f.radio_button :no15, :無１５, checked: "checked" %><%= f.label :無, class: "no15_label" %>
  </div>
  <div class="radio-inline">
    <%= f.radio_button :no15, :有１５ %><%= f.label :有, class: "no15_label" %>
  </div>
  <div class="radio-inline">
    <%= f.radio_button :no15, :未実施１５ %><%= f.label :未実施, class: "no15_label" %>
  </div>
</div>
  <div class="ntt15_field">
    <%= f.label :ntt15, '予定年月日' %>
    <%= f.datetime_select(:ntt15,
    start_year: 2018,
    end_year:   (Time.now.year - 19),
    default:    Date.new(2018, 1,15)) %>
  </div>
  <div class="ntt16_field">
    <%= f.label :ntt16, '実施年月日' %>
    <%= f.datetime_select(:ntt16,
    start_year: 2018,
    end_year:   (Time.now.year - 19),
    default:    Date.new(2018, 1,15)) %>
  </div>

<div class="form-group">
  <%= f.label :ni15, '看護指示名15' %><%= f.text_area :ni15, class: 'form-control', rows: 1 %>
</div>
<div class="form-group">
  <%= f.label :ni16, '看護指示内容16' %><%= f.text_area :ni16, class: 'form-control', rows: 3 %>
</div>

<div class="field">
  <span class="job_type_engine">実施の有無</span><br>
  <div class="radio-inline">
    <%= f.radio_button :no17, :無１７, checked: "checked" %><%= f.label :無, class: "no17_label" %>
  </div>
  <div class="radio-inline">
    <%= f.radio_button :no17, :有１７ %><%= f.label :有, class: "no17_label" %>
  </div>
  <div class="radio-inline">
    <%= f.radio_button :no17, :未実施１７ %><%= f.label :未実施, class: "no17_label" %>
  </div>
</div>
  <div class="ntt17_field">
    <%= f.label :ntt17, '予定年月日' %>
    <%= f.datetime_select(:ntt17,
    start_year: 2018,
    end_year:   (Time.now.year - 19),
    default:    Date.new(2018, 1,15)) %>
  </div>
  <div class="ntt18_field">
    <%= f.label :ntt18, '実施年月日' %>
    <%= f.datetime_select(:ntt18,
    start_year: 2018,
    end_year:   (Time.now.year - 19),
    default:    Date.new(2018, 1,15)) %>
  </div>


<div class="form-group">
  <%= f.label :ni17, '看護指示名17' %><%= f.text_area :ni17, class: 'form-control', rows: 1 %>
</div>
<div class="form-group">
  <%= f.label :ni18, '看護指示内容18' %><%= f.text_area :ni18, class: 'form-control', rows: 3 %>
</div>

<div class="field">
  <span class="job_type_engine">実施の有無</span><br>
  <div class="radio-inline">
    <%= f.radio_button :no19, :無１９, checked: "checked" %><%= f.label :無, class: "no19_label" %>
  </div>
  <div class="radio-inline">
    <%= f.radio_button :no19, :有１９ %><%= f.label :有, class: "no19_label" %>
  </div>
  <div class="radio-inline">
    <%= f.radio_button :no19, :未実施１９ %><%= f.label :未実施, class: "no19_label" %>
  </div>
</div>
  <div class="ntt19_field">
    <%= f.label :ntt19, '予定年月日' %>
    <%= f.datetime_select(:ntt19,
    start_year: 2018,
    end_year:   (Time.now.year - 19),
    default:    Date.new(2018, 1,15)) %>
  </div>
  <div class="ntt20_field">
    <%= f.label :ntt20, '実施年月日' %>
    <%= f.datetime_select(:ntt20,
    start_year: 2018,
    end_year:   (Time.now.year - 19),
    default:    Date.new(2018, 1,15)) %>
  </div>

<div class="form-group">
  <%= f.label :ni19, '看護指示名19' %><%= f.text_area :ni19, class: 'form-control', rows: 1 %>
</div>
<div class="form-group">
  <%= f.label :ni20, '看護指示内容20' %><%= f.text_area :ni20, class: 'form-control', rows: 3 %>
</div>

<div class="field">
  <span class="job_type_engine">実施の有無</span><br>
  <div class="radio-inline">
    <%= f.radio_button :no21, :無２１, checked: "checked" %><%= f.label :無, class: "no21_label" %>
  </div>
  <div class="radio-inline">
    <%= f.radio_button :no21, :有２１ %><%= f.label :有, class: "no21_label" %>
  </div>
  <div class="radio-inline">
    <%= f.radio_button :no21, :未実施２１ %><%= f.label :未実施, class: "no21_label" %>
  </div>
</div>
  <div class="ntt21_field">
    <%= f.label :ntt21, '予定年月日' %>
    <%= f.datetime_select(:ntt21,
    start_year: 2018,
    end_year:   (Time.now.year - 19),
    default:    Date.new(2018, 1,15)) %>
  </div>
  <div class="ntt22_field">
    <%= f.label :ntt22, '実施年月日' %>
    <%= f.datetime_select(:ntt22,
    start_year: 2018,
    end_year:   (Time.now.year - 19),
    default:    Date.new(2018, 1,15)) %>
  </div>

<div class="form-group">
  <%= f.label :ni21, '看護指示名21' %><%= f.text_area :ni21, class: 'form-control', rows: 1 %>
</div>
<div class="form-group">
  <%= f.label :ni22, '看護指示内容22' %><%= f.text_area :ni22, class: 'form-control', rows: 3 %>
</div>

<div class="field">
  <span class="job_type_engine">実施の有無</span><br>
  <div class="radio-inline">
    <%= f.radio_button :no23, :無２３, checked: "checked" %><%= f.label :無, class: "no23_label" %>
  </div>
  <div class="radio-inline">
    <%= f.radio_button :no23, :有２３ %><%= f.label :有, class: "no23_label" %>
  </div>
  <div class="radio-inline">
    <%= f.radio_button :no23, :未実施２３ %><%= f.label :未実施, class: "no23_label" %>
  </div>
</div>
  <div class="ntt23_field">
    <%= f.label :ntt23, '予定年月日' %>
    <%= f.datetime_select(:ntt23,
    start_year: 2018,
    end_year:   (Time.now.year - 19),
    default:    Date.new(2018, 1,15)) %>
  </div>
  <div class="ntt24_field">
    <%= f.label :ntt24, '実施年月日' %>
    <%= f.datetime_select(:ntt24,
    start_year: 2018,
    end_year:   (Time.now.year - 19),
    default:    Date.new(2018, 1,15)) %>
  </div>

<div class="form-group">
  <%= f.label :ni23, '看護指示名23' %><%= f.text_area :ni23, class: 'form-control', rows: 1 %>
</div>
<div class="form-group">
  <%= f.label :ni24, '看護指示内容24' %><%= f.text_area :ni24, class: 'form-control', rows: 3 %>
</div>

  <%= f.submit '入力', class: 'btn btn-primary btn-xs' %>
<% end %>

</div></div>
